In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

In [2]:
SPY = yf.Ticker('SPY')
VIX = yf.Ticker('^VIX')

In [3]:
up_trend_train_start = '2003-02-14'
up_trend_train_end = '2007-10-09'

down_trend_train_start = '2000-09-01'
down_trend_train_end = '2003-02-13'

up_trend_test_start = '2009-04-09'
up_trend_test_end = '2010-03-26'

down_trend_test_start = '2007-10-09'
down_trend_test_end = '2008-09-26'

In [5]:
spy_up_train = SPY.history(start=up_trend_train_start, end=up_trend_train_end, interval='1d')
spy_down_train = SPY.history(start=down_trend_train_start, end=down_trend_train_end, interval='1d')

spy_up_test = SPY.history(start=up_trend_test_start, end=up_trend_test_end, interval='1d')
spy_down_test = SPY.history(start=down_trend_test_start, end=down_trend_test_end, interval='1d')

In [6]:
spy_up_train

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2003-02-14,59.159551,60.473884,58.764529,60.437977,59580900,0.0,0
2003-02-18,60.710886,61.623024,60.610336,61.500923,39492700,0.0,0
2003-02-19,61.278284,61.386018,60.531338,61.177734,31432000,0.0,0
2003-02-20,61.199263,61.350088,60.366134,60.567234,29280100,0.0,0
2003-02-21,60.603158,61.579934,59.942400,61.177734,60955800,0.0,0
...,...,...,...,...,...,...,...
2007-10-03,120.142352,120.611022,119.517462,120.118919,119055900,0.0,0
2007-10-04,120.376693,120.493855,119.970513,120.306396,76864400,0.0,0
2007-10-05,121.095272,121.931064,120.782833,121.735786,134579700,0.0,0
2007-10-08,121.376500,121.454616,120.892217,121.087494,71280400,0.0,0
2007-10-09,121.540469,122.243462,121.095232,122.227837,94054300,0.0,0